<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User</title>
  </head>
  <body>
    <h1>Update User</h1>
    <form class="update" action="/update" method="post">
      <p>name: <input type="text" name="name" value="{{name}}"></p>
      <p>email: <input type="email" name="email" value="{{email}}"></p>
      <p>bio: <input type="bio" name="bio" value="{{bio}}"></p>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
