<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User</title>
  </head>
  <body>
    {{#userskey}}
    <h1>Update User</h1>
    <form class="update" action="/update/{{id}}" method="post">
      <p>name: <input type="text" name="name" value="{{dataValues.name}}"></p>
      <p>email: <input type="email" name="email" value="{{dataValues.email}}"></p>
      <p>bio: <input type="bio" name="bio" value="{{dataValues.bio}}"></p>
      <input type="submit" name="submit" value="submit">
    </form>
    {{/userskey}}
  </body>
</html>
